@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1px;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

:root {
  --primary: #0796a6; /* default blue */
  --primary-dark: #1e40af;
}

/* Red Theme */
.theme-pink {
  --primary: #a6073f;
  --primary-dark: #991b1b;
}

/* Blue Theme */
.theme-blue {
  --primary: #0796a6;
  --primary-dark: #1e40af;
}

/* green Theme */
.theme-green {
  --primary: #07a675;
  --primary-dark: #1e40af;
}

/* green Theme */
.theme-red {
  --primary: #e74141;
  --primary-dark: #1e40af;
}

/* Black Theme */
.theme-black {
  --primary: #111827;
  --primary-dark: #000000;
}